#ignore target under current directory and all subdirectories:
target/
*/target/
test-output/
*/test-output/
*tar.gz
*.DS_Store

#ignore settings & gitignore file
.settings/
*/.settings/
.springBeans
*/.springBeans

#ignore svn files
.svn
*/.svn

.project

*/.project

.classpath
*/.classpath

.data/
*/.data/
*~

.idea/
*.iml

#logs
*/*/logs/
*.log

*/.DS_Store
.metadata/*

./addNewScoreItem.sh
addNewScoreItem.sh
pom.properties
